@media {
    img {
        width: 100%;
    }

    #topper {
        background-image: url(Kim-zoomed-title.jpeg);
        background-size: cover;
        background-position: center;
        padding: 170px 0px 290px;
        text-align: left;
    }

    h1 {
        color: black;
        text-align: center;
        font-weight: bold;
        font-family: "Archivo Black", sans-serif;
        font-size: 75px;
    }

    .caption {
        font-size: 10px;
        margin: 0px 0px 5px 0px;
    }

    .credit {
        font-weight: bold;
        color: blueviolet;
        text-transform: capitalize;
        font-size: 10px;
        margin-top: 10px;
    }
    .date {
        font-size: 15px;
        text-align: center;
        font-family: "Tenor Sans", sans-serif;
    }
    h2 {
        text-align: center;
        font-family: "Tenor Sans", sans-serif;
        color: black;
        font-size: 40px;
    }
    #content {
        text-align: left;
        width: 90%;
        margin: auto;
        font-family: "Tenor Sans", sans-serif;
    }

    #chart {
        width: 80%;
        margin: auto;
    }

    #finalbox {
        margin: 20px 0px 20px 0px;
        color: red;
    }

    .pullquote {
        border-left: 3px solid blueviolet;
        padding: 0px 0px 0px 15px;
        margin: 20px 0px 20px 0px;
        font-size: 30px;
        color: black;
        font-family: "Oswald", sans-serif;
    }

    .link {
        color: red;
        font-weight: bolder;
    }
    .link:hover {
        color: blue;
    }

    .attribution {
        font-size: 15px;
        color: blueviolet;
    }
}

@media (min-width: 576px) {
    #content {
        width: 80%;
    }
    #chart {
        width: 50%;
    }
}
